<div class="home-container">
  <h1>Dashboard</h1>

  <div class="cards-grid">
    <div class="card">
      <h3>Total de Acessos</h3>
      <p>22</p>
    </div>
    <div class="card">
      <h3>Horas Semanais</h3>
      <p>30</p>
    </div>
    <div class="card">
      <h3>Horas Mensais</h3>
      <p>60</p>
    </div>
    <div class="card">
      <h3>Usuários Ativos</h3>
      <p>3</p>
    </div>
  </div>

  <div class="grafico-container">
     <label for="tipo">Selecione o tipo de gráfico:</label>
  <select id="tipo" [(ngModel)]="tipoGrafico" (change)="recriarGrafico()">
    <option *ngFor="let tipo of tipos" [value]="tipo">{{ tipo }}</option>
  </select>


    <div class="grafico-area" *ngIf="mostrarGrafico">
      <h2>Dados dos usuários: acessos e horas de uso mensais/semanais</h2>
      <p-chart
        [type]="tipoGrafico"
        [data]="chartData"
        [options]="chartOptions"
        [responsive]="true"
      ></p-chart>
    </div>
  </div>
</div>
