<div class="login-wrapper">
  <div class="login-card">
    <h2>Bem-vindo</h2>
    <p>Entre com suas credenciais</p>

    <div class="p-fluid">
      <div *ngIf="errorMessage" class="p-field">
        <p-message severity="error" [text]="errorMessage"></p-message>
      </div>

      <div class="p-field">
        <label for="username">Login</label>
        <input id="username" [(ngModel)]="username" pInputText placeholder="Digite seu login" />
      </div>

      <div class="p-field">
        <label for="password">Senha</label>
        <input id="password" type="password" [(ngModel)]="password" pInputText placeholder="Digite sua senha" />
      </div>

      <button 
        (click)="login()" 
        pButton 
        type="button" 
        label="Entrar" 
        class="p-button-rounded p-button-lg">
      </button>
    </div>
  </div>
</div>
